TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_MINI_APP_URL=https://your-domain.com
TELEGRAM_BOT_USERNAME=your_bot_username_here

DATABASE_PATH=database.sqlite
PORT=3000
NODE_ENV=development

ADMIN_TELEGRAM_IDS=
TELEGRAM_CHANNEL_ID=your_channel_username_here
TELEGRAM_CHANNEL_NEWS_ID=your_channel_username_here